*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
/* .overlay{
    position: absolute;
    background-color: beige;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
    height: 200%;
} */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 50px ;
    overflow: hidden;
    background-color: beige;
}
section{
    min-height: 100vh;
}
.heading{
    display: flex;
    flex-direction: column;
    padding: 20px 260px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
}
.rows{
    margin: 0px 50px;
    display: flex;
    padding: 5px 30px;
    gap: 20px;
}
.card{
    border: 2px solid;
    max-width: 400px;
    padding: 30px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.description{
    margin-top: 30px;
}
@media only screen and (max-width: 850px) {
    .rows{
        flex-direction: column;
        gap: 10px;
        padding: 0;
        margin: 20px;
        justify-content: center;
        align-items: center;
    }
    .heading{
        padding: 20px 20px 0 20px;
    }
    .container{
        padding: 0;
        margin: 0;
    }
}
@media only screen and (min-width: 900px) {
    .heading{
        padding: 30px;
    }
    .container{
        padding: 0;
        margin: 0;
    }
    .rows{
        gap: 10px;
        padding: 0;
        margin: 20px;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width: 300px) {
    .card{
       padding: 20px 5px;
       text-align: center; 
       gap: 2px;
    }
}
.reveal{
    position: relative;
    transform: translateX(-500px);
    opacity: 0;
    transition: all 2s ease;
}
.reveal.active{
    transform: translateX(0px);
    opacity: 1;
}

.reveal2{
    position: relative;
    transform: translateX(500px);
    opacity: 0;
    transition: all 2s ease-in-out;
}
.reveal2.active2{
    transform: translateX(0px);
    opacity: 1;
}

