*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -10;
    background-color: burlywood;
}
.container{
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    color: white;
    animation: expand 1s ease forwards;
    background-color: brown;
    position: relative;
    transition: all 1s ease;
}
.container-content{
    border: 2px solid white;
    width: 50%;
}
.container-content-inner{
    width: 80%;
    margin-left: 80px;
}
.title, .desc{
    overflow: hidden;
    height: auto;
}
p{
    line-height: 28px;
    transform: translateY(300px);
    animation: slideUp .8s ease-in-out forwards .8s;

}
.container-outer-img{
    width: 50%;
    overflow: hidden;
    border: 2px solid white;
}
.container-img{
    width: 100%;
    animation: slideIn 2s ease-in-out forwards;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}

@keyframes slideIn {
    0% {
        transform: translateX(500px) scale(.2);
    }
    100% {
        transform: translateX(0px) scale(1);
    }
}
@keyframes slideUp {
    0% {
        transform: translateY(300px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes expand {
    0% {
      transform: translateY(1400px);
    }
    100% {
      transform: translateY(0px);
    }
  }